node_modules
flow-typed
build
build/detect-and-parse.js
build/fingerprintOptions.js
build/getMrz.js
build/mrz-relax.js
build/roiOptions.js
build/svm.js
build/internal/mrzOcr.js
build/internal/symbols.js
build/detect-and-parse.js
build/fingerprintOptions.js
build/getMrz.js
build/mrz-relax.js
build/roiOptions.js
build/svm.js
build/internal/mrzOcr.js
build/internal/symbols.js
build/lib/bufferFromUrl.js
build/lib/findAverage.js
build/lib/getLinesFromImage.js
build/lib/groupRoisPerLine.js
build/lib/medianQuickSelect.js
build/util/filterOutliersMAD.js
build/util/readWrite.js
build/util/rois.js
